body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333333;
}

.clock{
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    border: solid 2px white
}

#seconds-hand{
    /*Il faut donner aussi la position absolute au parent (.clock), sinon l'aiguille sera positionnée par rapport au document et pas par rapport à l'horloge.*/
    position: absolute;
    height: 130px;
    width: 2px;
    background-color: rgb(70,255, 255);
    left: 149px;
    bottom: 149px;
    transform-origin: 0 100%;
}
#minutes-hand{
    height: 100px;
    width: 2px;
    background-color: rgb(228, 49, 156);
    position: absolute;
    left: 149px;
    bottom: 149px;
    transform-origin: 0 100%;/*pour que l'aiguille pivote depuis le centre de l'horloge, et pas sur son centre à elle*/
}
#hours-hand{
    position: absolute;
    height: 80px;
    width: 4px;
    background-color: rgb(36, 188, 36);
    left: 151px;
    bottom: 151px;
    transform-origin: 0 100%;
}
#center{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: white;
    left: 145px;
    bottom: 145px;
}

